html{box-sizing:border-box;}
*, *:before, *:after{box-sizing:inherit;}
.column{float:left;width:50%;margin-bottom:16px;padding:0 8px;}
@media screen and (max-width:650px){.column{width:100%;display:block;}
}
.card{box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);}
.container::after, .row::after{content:"";clear:both;display:table;}
.container{padding:80px 120px;}
.navbar{font-family:Montserrat, sans-serif;margin-bottom:0;background-color:#2d2d30;border:0;font-size:11px !important;letter-spacing:4px;opacity:0.9;}
.navbar li a, .navbar .navbar-brand{color:orange !important;}
.navbar-nav li a:hover{color:#fff !important;}
.navbar-nav li.active a{color:#fff !important;background-color:#4D342D !important;-webkit-animation:bgmove 5s infinite;animation:bgmove 5s infinite;}
.navbar-default .navbar-toggle{border-color:transparent;}
#imgshadow{box-shadow:1px 1px 20px 1px lightgrey;padding:3px;color:#67DE99;}
#shadow{box-shadow:0px 0px 30px 0px gray;color:darkblue;}
#pc{color:green;font-size:large;font-weight:normal;border-width:thin;border-radius:20px;box-shadow:6px 6px 6px darkgrey;background-color:#FFFFFF;padding-top:10px;padding-left:10px;padding-right:10px;padding-bottom:10px;}
#textShadow{-webkit-animation:shadowMove 1s 1;animation:shadowMove 1s 1;animation-delay:2s;}
@-webkit-keyframes shadowMove{50%{text-shadow:10px 20px 30px darkgrey;}
}
@keyframes shadowMove{50%{text-shadow:10px 20px 30px darkgrey;}
}
#bg{background-color:#4D342D;-webkit-animation:bgmove 5s infinite;animation:bgmove 5s infinite;}
#cl{color:orange;-webkit-animation:clmove 6s infinite;animation:clmove 6s infinite;}
@-webkit-keyframes bgmove{50%{background-color:#407660;}
}
@keyframes bgmove{50%{background-color:#407660;}
}
@-webkit-keyframes clmove{50%{color:#407660;}
}
@keyframes clmove{50%{color:#407660;}
}
@-webkit-keyframes navmove{50%{background-color:#407660;}
}
@keyframes navmove{50%{background-color:#407660;}
}
.myImg{border-radius:5px;cursor:pointer;transition:0.3s;}
.myImg:hover{opacity:0.7;}
.modal{display:none;position:fixed;z-index:1;padding-top:100px;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.9);}
.modal-content{margin:auto;display:block;width:80%;max-width:700px;}
#caption{margin:auto;display:block;width:80%;max-width:700px;text-align:center;color:#ccc;padding:10px 0;height:150px;}
.modal-content, #caption{-webkit-animation-name:zoom;-webkit-animation-duration:0.6s;animation-name:zoom;animation-duration:0.6s;}
@-webkit-keyframes zoom{from{-webkit-transform:scale(0)}
to{-webkit-transform:scale(1)}
}
@keyframes zoom{from{transform:scale(0)}
to{transform:scale(1)}
}
.close{position:absolute;top:15px;right:35px;color:#FFFFFF !important;font-size:40px;font-weight:bold;transition:0.3s;}
.close:hover,
.close:focus{color:#bbb;text-decoration:none;cursor:pointer;}
@media only screen and (max-width:700px){.modal-content{width:100%;}
}
.label{color:white;padding:8px;}
.success{background-color:#4CAF50;}
.info{background-color:gray;border:2px solid #2196F3;}
.warning{background-color:#ff9800;}
.danger{background-color:#f44336;}
.other{background-color:#e7e7e7;color:black;}
.footer{padding:20px;text-align:center;background:#2D303B;margin-top:20px;}
